<!DOCTYPE html>
<html>
  <head>
    <title>AvitoClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- If using the gem 'bootstrap', you can do: -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="<%= root_path %>">AvitoClone</a>
      <!-- More Bootstrap nav stuff -->
    </nav>

    <div class="container mt-4">
      <% if notice %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
